
supervision==0.21.0rc3
pytesseract==0.3.10
numpy==1.25.1
opencv-python==4.9.0.80

#ultralytics @ file:///C:/Users/GitHub/Proyecto-Deteccion_de_Placas_o_Patentes/yolov10
#No aparece ultralytics de la forma usual porque se instaló desde el repositorio de github
#Se utilizo Yolo10, de seguro cuando leas esto ya se encuentre actualizado en ultralytics

